#sk {
    padding: 20px 0;
}

.sk-box {
    height: 342px;
}

.sk-box h3 {
    height: 72px;
}

.sk-box .countdown {
    height: 270px;
    width: 185px;
    background-color: #e94443;
}

.sk-box .sk-list {
    width: 960px;
    height: 270px;
    background-color: rgb(155, 184, 108);
}

/* 秒杀拼团整体布局*/
#sk {
    padding: 20px 0;
    /* background: lightblue; */
}

.sk-box {
    height: 342px;
}

.sk-box h3 {
    height: 72px;
    /* background-color: #fff; */
}

.sk-box h3 img {
    width: 180px;
}

.sk-box .countdown {
    height: 270px;
    width: 185px;
    background-color: #E94443;
}

.sk-box .sk-list {
    height: 270px;
    /* background-color: rgb(155, 184, 108); */
    width: 960px;
}

/* 秒杀拼团整体布局结束*/